<div class="jumbotron">
        <div ng-controller="ChatController as chatController">
          <h2 class="text-center"><strong>Chat</strong></h2>
          <hr/>
           <div>
             <div class="chat-message" id="chat-message">
               <div ng-repeat="message in chatController.messages"> <strong>{{message.from}}</strong> @ {{ message.time }}: {{message.text}}</div>
             </div>
             <hr/>
             <div class="input-group input-group-lg">

                <span class="input-group-btn" id="sizing-addon1">
                    <button class="btn btn-default" id="btnSend" ng-click="chatController.sendMessage(chatController.newMessage)">Send</button>
                </span>
                <input type="text" id="txtChatBox" class="form-control" placeholder="Type your message.." ng-model="chatController.newMessage" aria-describedby="sizing-addon1">
               
              </div>
           </div>
         </div>
       </div>
