 body		{ 
  /* padding-top:50px;  */
  height: 100%;
  width: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url("/app/img/simpsons.jpg");
  background-position: right top;
  background-size: cover;
  opacity: 0.95;
  
}

/*Horizontal line separator*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*Reduce the font size of chat messages*/
.jumbotron .chat-message {
  font-size: 14px;
  height: 200px;
  overflow: auto;
}

#content-views 				  { position:relative; }

/* .ng-enter, .ng-leave 		{ width:100%; position:absolute; }
.ng-enter 					    { 
  -webkit-animation:zoomInDown 1.2s both ease-in; 
  -moz-animation:zoomInDown 1.2s both ease-in; 
	animation:zoomInDown 1.2s both ease-in; 
}
.ng-leave 					    { 
  -webkit-animation:zoomOutDown 0.5s both ease-in; 
  -moz-animation:zoomOutDown 0.5s both ease-in; 
	animation:zoomOutDown 0.5s both ease-in; 
} */

/* https://github.com/twbs/bootstrap/issues/15229 */
.modal-open {
  margin-right: 20% !important;
  
}